<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="setting_debug" value="" />
    <add key="bypass_login" value="true" />
    <add key="minimize_on_close" value="true" />
    <add key="smtp_server_ip_domain" value="127.0.0.1" />
    <add key="smtp_server_port" value="25" />
    <add key="smtp_server_username" value="admin@localhost" />
    <add key="smtp_server_password" value="root" />
  </appSettings>
</configuration>