<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="bypass_login" value="true" />
    <add key="minimize_on_close" value="true" />
    <add key="ws_syncho" value="http://172.24.16.171/GetDataHO/api/OracleDBAccount/GetOracleTNS/" />
  </appSettings>
</configuration>