<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KirimNPFileQR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="setting_debug" value="" />
    <add key="bypass_login" value="true" />
    <add key="bypass_ip_mac" value="false" />
    <add key="minimize_on_close" value="true" />
    <add key="updater_ftp_ip_domain" value="127.0.0.1" />
    <add key="updater_ftp_port" value="21" />
    <add key="updater_ftp_username" value="admin@localhost" />
    <add key="updater_ftp_password" value="root" />
    <add key="smtp_server_ip_domain" value="127.0.0.1" />
    <add key="smtp_server_port" value="25" />
    <add key="smtp_server_username" value="admin@localhost" />
    <add key="smtp_server_password" value="root" />
    <add key="wait_time_qr_email" value="900" />
    <add key="wait_json_byte" value="3600" />
  </appSettings>
  <applicationSettings>
    <KirimNPFileQR.Properties.Settings>
      <setting name="KirimNPFileQR_wsNPLtoko_NPB_Service" serializeAs="String">
        <value>http://172.24.16.201:1414/service.asmx</value>
      </setting>
    </KirimNPFileQR.Properties.Settings>
  </applicationSettings>
</configuration>